{% extends "base.html" %}
{% block content %}
  {% block searchform %}{% endblock %}
  {% if eventname %}
    <b>{{ eventname }}</b>
    {% if eventdate %}
      <b>({{ eventdate }})</b>
    {% endif %}
  {% endif %}
  <table>
  <TR>
    <TD align="right"  valign="top" style="min-width: 55"><b>Position</b></TD>
    <TD align="left"   valign="top" style="min-width: 200"><b>Team Name</b></TD>
    <TD align="right"  valign="top" style="min-width: 55"><b>Number</b></TD>
    <TD align="center" valign="top" style="min-width: 40"><b>Class</b></TD>
    <TD align="center" valign="top" style="min-width: 40"><b>Year</b></TD>
    <TD align="left"   valign="top" style="min-width: 75"><b>Make</b></TD>
    <TD align="left"   valign="top" style="min-width: 150"><b>Model</b></TD>
    <TD align="right"  valign="top" style="min-width: 35"><b>Laps</b></TD>
    <TD align="left"   valign="top" style="min-width: 75"><b>Best Time</b></TD>
    <TD align="right"  valign="top" style="min-width: 60"><b>BS Laps</b></TD>
    <TD align="right"  valign="top" style="min-width: 110"><b>Black Flag Laps</b></TD>
  </TR>
  {% for entry in entries %}
  <TR>
    <TD align="right"  valign="top">{{ entries[entry]['Position'] }}</TD>
    <TD align="left"   valign="top">{{ entries[entry]['Team Name'] }}</TD>
    <TD align="right"  valign="top">{{ entries[entry]['Number'] if entries[entry]['Number'] != None }}</TD>
    <TD align="center" valign="top">{{ entries[entry]['Class'] if entries[entry]['Class'] != None }}</TD>
    <TD align="center" valign="top">{{ entries[entry]['Year'] if entries[entry]['Year'] != None }}</TD>
    <TD align="left"   valign="top">{{ entries[entry]['Make'] if entries[entry]['Make'] != None}}</TD>
    <TD align="left"   valign="top">{{ entries[entry]['Model'] if entries[entry]['Model'] != None}}</TD>
    <TD align="right"  valign="top">{{ entries[entry]['Laps'] if entries[entry]['Laps'] != None}}</TD>
    <TD align="left"   valign="top">{{ entries[entry]['Best Time'] if entries[entry]['Best Time'] != None}}</TD>
    <TD align="right"  valign="top">{{ entries[entry]['BS Penalty Laps'] if entries[entry]['BS Penalty Laps'] != None}}</TD>
    <TD align="right"  valign="top">{{ entries[entry]['Black Flag Laps'] if entries[entry]['Black Flag Laps'] != None}}</TD>
  </TR>
  {% endfor %}
  </table>
  </p>
{% endblock %}
