{% extends "base.html" %}
{% block content %}
  {% if title %}
    <b>{{ title }}</b>
  {% endif %}
  <table>
  <TR>
    <TD align="left"   valign="top" style="min-width: 230"><b>Event</b></TD>
    <TD align="left"   valign="top" style="min-width: 100"><b>Date</b></TD>
    <TD align="right"  valign="top" style="min-width: 50"><b>Position</b></TD>
    <TD align="left"   valign="top" style="min-width: 160"><b>Team Name</b></TD>
    <TD align="right"  valign="top" style="min-width: 60"><b>Number</b></TD>
    <TD align="center" valign="top" style="min-width: 40"><b>Class</b></TD>
    <TD align="center" valign="top" style="min-width: 40"><b>Year</b></TD>
    <TD align="left"   valign="top" style="min-width: 80"><b>Make</b></TD>
    <TD align="left"   valign="top" style="min-width: 150"><b>Model</b></TD>
    <TD align="right"  valign="top" style="min-width: 40"><b>Laps</b></TD>
    <TD align="left"   valign="top" style="min-width: 70"><b>Best Time</b></TD>
    <TD align="right"  valign="top" style="min-width: 60"><b>BS Laps</b></TD>
    <TD align="right"  valign="top" style="min-width: 110"><b>Black Flag Laps</b></TD>
  </TR>
    {% if search %}
      {% include 'search.html' %}
    {% endif %}
    {% if entries %}
      {% include 'results.html' %}
    {% endif %}
  </table>
  </p>
{% endblock %}
